@{
    ViewData["Title"] = "Dodaj novac";
    decimal currentBalance = ViewBag.Balance;
}

<link rel="stylesheet" href="~/css/store.css" />

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="glass-panel text-center p-5">

            <h3 class="page-header-title mb-3">Dopuna Računa</h3>

            <p class="text-muted mb-4">
                Trenutno stanje: <br />
                <span class="wallet-balance">@ViewBag.Balance.ToString("N2") RSD</span>
            </p>

            <form asp-action="AddFunds" method="post" class="mt-4">
                <div class="mb-4">
                    <label class="form-label search-label text-white">Iznos za uplatu (RSD)</label>
                    <input type="number" name="amount" class="form-control add-funds-input" placeholder="1000" min="1" required />
                </div>

                <div class="d-grid gap-3">
                    <button type="submit" class="btn btn-success btn-lg fw-bold text-uppercase ls-1">
                        POTVRDI UPLATU
                    </button>

                    <a asp-action="Index" class="btn btn-outline-light ls-1 text-uppercase">
                        Odustani
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>