@{
    ViewData["Title"] = "Zabranjen pristup";
}

<div class="text-center mt-5">
    <h1 class="text-danger display-1 fw-bold">403</h1>
    <h2 class="text-danger">Zabranjen pristup!</h2>
    <p class="lead mt-3">Nemate dozvolu da pristupite ovoj stranici.</p>
    <hr />
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Vrati se na početnu</a>
</div>