@model GameShop.MVC.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Prijava";
}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="glass-panel text-center">
            <h2 class="mb-4"> Prijava</h2>
            <form asp-action="Login" method="post" class="text-start">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                
                <div class="mb-3">
                    <label class="form-label">Korisničko ime</label>
                    <input asp-for="Username" class="form-control" placeholder="Unesite username..." />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Lozinka</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="••••••" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">ULOGUJ SE</button>
                </div>
            </form>
            <div class="mt-3">
                <p>Nemaš nalog? <a asp-action="Register">Registruj se ovde</a></p>
            </div>
        </div>
    </div>
</div>