.users-header-container {
    border-bottom: 1px solid rgba(0, 255, 0, 0.2);
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
}

.users-page-title {
    font-family: 'Orbitron', sans-serif;
    color: var(--neon-green);
    text-shadow: 0 0 15px rgba(0, 255, 0, 0.4);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.users-table-username {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}

.users-table-email {
    font-family: sans-serif;
    color: #aaa;
}

.users-table-balance {
    font-family: 'Orbitron', sans-serif;
    color: var(--neon-green);
    font-size: 1.1rem;
    text-align: right;
    font-weight: bold;
}

.role-badge {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: 1px solid;
    display: inline-block;
}

.role-badge-admin {
    background-color: rgba(220, 53, 69, 0.1);
    color: #ff6b6b;
    border-color: #ff6b6b;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
}

.role-badge-user {
    background-color: rgba(13, 110, 253, 0.1);
    color: #6ea
